/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: dark) {
  :root.theme-dark {
    --cover-image: url("../images/cover-image-dark.png");
    --logo-color: #db00ff;
    --hover-button: rgba(255, 0, 112, 0.4);
    --hover-link: #f1b2ce;
    --focus: #ff0070;
    --focus-border: #f1b2ce;
    --page-background: #000028;
    --subtitle-color: #000028;
    --navigation-color: #ff0070;
    --background-title: #ff0070;
    --title-color: #ff0070;
    --shadow-color: #ff0070;
    --header-decor: #ff0070;
    --title-decor: #ff0070;
    --article-title: #000028;
    --rec-decor: #ff0070;
    --button-color: #ff0070;
    --link-color: #ff0070;
    --border-color: #ff0070;
    --paragraph-color: #f1b2ce;
  }
}

:root.theme-dark {
  --cover-image: url("../images/cover-image-dark.png");
  --logo-color: #db00ff;
  --hover-button: rgba(255, 0, 112, 0.4);
  --hover-link: #f1b2ce;
  --focus: #ff0070;
  --focus-border: #f1b2ce;
  --page-background: #000028;
  --subtitle-color: #000028;
  --navigation-color: #ff0070;
  --background-title: #ff0070;
  --title-color: #ff0070;
  --shadow-color: #ff0070;
  --header-decor: #ff0070;
  --title-decor: #ff0070;
  --article-title: #000028;
  --rec-decor: #ff0070;
  --button-color: #ff0070;
  --link-color: #ff0070;
  --border-color: #ff0070;
  --paragraph-color: #f1b2ce;
}

.theme-dark .rec-decoration {
  display: flex;
}
